*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* Inorder to Disable Text Selection while Clicking/Selecting any Div */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/* Header */

header{
    width: 100svw;
    height: 13svh;
    background-color: #1C242F;
    display: flex;
    justify-content: start;
    position: fixed;
    z-index: 999;
}
.leftLogo{
    width: 15svw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
}
.logo{
    width: 180px;
    height: 60px;
}
.leftLogo:hover{
    cursor: pointer;
}
.rightNav{
    width: 60svw;
    height: 100%;
    display: flex;
}
.rightNav > div{
    width: 120px;
    height: 100%;
    display: flex;
    font-size: 18px;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.8px;
    font-weight: 520;
}
.rightNav > div:hover{
    color: #008730;
    cursor: pointer;
}
.login{
    width: 20svw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginButton{
    position: absolute;
    right: 3%;
    width: 130px;
    height: 50px;
    background-color: #008730;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
    overflow: hidden;
}
.loginButton > p{
    position: absolute;
    z-index: 5;
}
.loginButton::before{
    content: "";
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0%;  
    right: 0%;
    width: 0%;
    height: 100%;
    background-color: #24B78E;
}
.loginButton:hover{
    cursor: pointer;
    z-index: 3;
}
.loginButton:hover::before{
    z-index: -1;
    left: 0%;
    width: 100%;
}
.threebars{
    width: 10svw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    display: none;
}

/* Side Bar */

#sidebar{
    position: fixed;
    z-index: 1;
    left: 0%;
    height: 100svh;
    width: 300px;
    /* background-color: transparent;
    backdrop-filter: blur(10px); */
    background-color: #04080E;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s ease;
}
.sbt{
    border-bottom: 1px ridge white;
    margin: 30px 5px;
    height:100px;
    width: 230px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.sbt > img{
    margin-left: 10px;
    height: fit-content;
    width: fit-content;
}
.sbb > div{
    margin: 10px 10px;
    border-bottom: 1px groove white;
    width: 120px;
    height: 40px;
    display: flex;
    font-size: 18px;
    color: white;
    align-items: start;
    justify-content: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.8px;
    font-weight: 520;
}
.sbb > div:hover, .sbt > i:hover{
    color: #008730;
    cursor: pointer;
}

/* First Division */

#first{
    height: 100svh;
    width: 100svw;
    background-color: #020B17;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.img1  , .img2{
    margin-top: 130px;
}
.img2{
    height: 500px;
    width: 640px;
}

/* Light Mode - Dark Mode Button */

.toggle{
    height: 200px;
    width: 80px;
    position: absolute;
    right: 2%;
    top: 50%;
}
.lb {
    height: 100px;
    width: 40px;
    rotate: 360deg;
    background-color: transparent;
    border-radius: 200px;
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease;
    position: relative;
    top: 50%;
    right: -50%;
    transform: translate(-50%,-50%);
    /* box-shadow: inset 0px 5px 5px rgba(0,0,0,0.4) , inset 0px -5px 5px rgba(255,255,255,0.4); */
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease;
    border: 3px solid white;
    overflow: visible;
}
.one{
    transform: rotate(90deg);
    position: absolute;
    left: 0%;
    top: 50%;
    font-size: 15px;
    font-weight: 700;
    font-family: "Playwrite NZ", cursive;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0px 0px 15px black;
}
.two{
    transform: rotate(90deg);
    position: absolute;
    font-size: 10px;
    left: 0%;
    top: 24%;
    opacity: 0;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Playwrite NZ", cursive;
}
.lb::before {
    transition: background-image 1s ease;
    position: absolute;
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    left: -20%;
    top: -20%;
    border-radius: 50%;
    background-color: white;
    transition: left 1s ease;
    background-repeat: no-repeat;
    background-size: cover;
}
#moon{
    cursor: pointer;
    color: red; 
    transform: rotate(-20deg);
    font-size: 30px; 
    position: absolute; 
    top: 22%; 
    left: 35%; 
    z-index: 90;
}
#sun{
    display: none;
    cursor: pointer; 
    color: red; 
    transform: rotate(-20deg); 
    font-size: 25px; 
    position: absolute; 
    top: 63%; 
    left: 34%; 
    z-index: 90;
}
#modeToggle:checked ~ #sun{
    display: block;
}
#modeToggle:checked ~ #moon{
    display: none;
}
#modeToggle:checked +.lb {
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease;
    border: 3px solid black;
}
#modeToggle:checked + .lb::before {
    transition: background-image 1s ease;
    background-color: white;
    top: 66%;
}
#modeToggle:checked + .lb > .one {
    transition: background-image 1s ease;
    text-shadow: none;
    transition: opacity 1s ease;
    color: white;
    opacity: 0;
}
#modeToggle:checked + .lb > .two {
    transition: background-image 1s ease;
    opacity: 1;
    color: black;
}
body:has(#modeToggle:checked){
    background-image: url("assets/nightInterior.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.4);
}
#first:has(#modeToggle:checked){
    background-color: #EFF4F5;
}
.lb::after{
    display: block;
    content: "";
    background-color: lightpink;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
    top: -14%;
    left: -3%;
}
#modeToggle:checked + .lb::after {
    transition: background-image 1s ease;
    top: 72%;
}
.card{
    position: absolute;
    bottom: 3%;
    right: 32%;
    background-color: white;
    width: 320px;
    height: 130px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.ct,.cb , .cbt, .cbb{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ct > p{
    font-size: 22px;
    margin-right: 160px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cb > img{
    height: 50px;
    width: 150px;
}
.cb > p{
    font-size: 15px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span{
    font-size: 25px;
    color: #f5af19;
}

/* Second Stylings */

.second{
    height: 22svh;
    width: 100svw;
    background: linear-gradient(to right,#06892E,#63B621);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}
.second > div{
    height: 100%;
    width: 280px;
    /* gap: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cir{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.li{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.rc{
    height: 100%;
    width: 60%;
    font-size: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Third Stylings */

.third{
    height: 210svh;
    width: 100svw;
    background-color: #111822;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}
.tcenter{
    margin-top: 50px;
    height: 600px;
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.tcenter > p{
    margin-top: 20px;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
    text-align: center;
    height: 70px;
    width: 350px;
}
.sign{
    position: relative;
    top: -3%;
    width: 200px;
    height: 60px;
}
.logoblock{
    overflow-y: hidden;
    margin-top: 30px;
    height: 55svh;
    width: 90svw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
}
.logoblock > div{
    height: 80px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C242F;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.leftblock{
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.leftblock > img{
    height: 45px;
    width: 45px;
    transition: all 0.3s ease;
}
.rightblock{
    height: 80px;
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: all 0.3s ease;
}
.rightblock > p{
    color: white;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.firb:hover{ background-color: #1AB69D; }
.secb:hover{ background-color: #EE4A62; }
.thib:hover{ background-color: #0ECD73; }
.foub:hover{ background-color: #F8B81F; }
.fivb:hover{ background-color: #8E56FF; }
.sixb:hover{ background-color: #F92596; }
.sevb:hover{ background-color: #5866EB; }
.eigb:hover{ background-color: #F8941F; }
.ninb:hover{ background-color: #39C0FA; }

.tdown{
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
}
.tdleft,.tdright{
    height: 700px;
    width: 650px;
    overflow-y: hidden;
}
.tdleft{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.tdright{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.tdleft > img{
    height: 600px;
    width: 520px;
    border-radius: 10px;
}
.tdtcard1{
    position: absolute;
    top: 1%;
    right: 3%;
    height: 170px;
    width: 240px;
    background-color: white;
    border-radius: 15px;
}
.tdtcard1 > video{
    position: relative;
    z-index: 2;
    height: 150px;
    width: 220px;
    border-radius: 10px;
    outline: 0;
    position: absolute;
    top: -7%;
    left: 4%;
    border-radius: 170px;
    /* visibility: hidden; */
}

.bar1{
    height: 7px;
    width: 180px;
    border-radius: 20px;
    background-color: #EAF0F2;
    z-index: 2;
    position: absolute;
    left: 10%;
    top: 75%;
}
.bar2{
    height: 7px;
    width: 100px;
    border-radius: 20px;
    background-color: #EAF0F2;
    z-index: 2;
    position: absolute;
    left: 10%;
    top: 87%;
}
.tdtcard2{
    height: 120px;
    width: 250px;
    background-color: white;
    position: absolute;
    bottom: 2%;
    right: 5%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: move;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.tdtcardleft,.tdtcardright{
    height: 120px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tdtcardleft{
    width: 100px;
}
.tdtcardright{
    width: 150px;
}
.tdtcir{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #E8F8F5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #038933;
}
.tdtcardright > p{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tdtcardright > p > span{
    font-size: 35px;
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tdright > p:first-child{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #BABABA;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700;
}
.tdright > p:nth-child(2){
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 4rem;
}
.tdright > p:nth-child(3){
    color: #f5af19;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 4rem;
}
.tdright > p:nth-child(5){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #BABABA;
    font-size: 20px;
    letter-spacing: 1px;
    column-gap: 40px;
    line-height: 2rem;
}
.tick{
    line-height: 3rem;
    margin-top: 15px;
    font-size: 20px;
}
.tdright > p:nth-child(6){
    margin-top: 40px;
}
.tdright > p:nth-child(6),.tdright > p:nth-child(7),.tdright > p:nth-child(8){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #BABABA;
    font-size: 20px;
    letter-spacing: 1px;
    column-gap: 40px;
    line-height: 3rem;
}

/* dsp */
/* Mouse Scroll Movement */
/* .mouseParent{
    width: 32px;
    height:32px;
    border:1px solid yellow;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    transform: translate(-50%,-50%);
    transition: all 0.2s;
}

.mouseChild{
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: yellow;
} */

.fourth{
    height: 120svh;
    width: 100svw;
    background-color: #020B17;
    color: white;
    text-align: start;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.fourth > p:first-child{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.7;
    letter-spacing: 1px;
    height: 40px;
}
.fourth > p:nth-child(2){
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    height: 70px;
    overflow-y: hidden;
}
.courses{
    opacity: 0.9;
    height: 55svh;
    width: 85svw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    overflow-y: hidden;
}
.courseCard{
    height: 350px;
    width: 270px;
    border-radius: 10px;
    background-color: #1C242F;
    position: relative;
    transition: all 0.4s ease;
}
.courseCard:hover{
    background-color: #008730;
    cursor: pointer;
    transition: all 0.5s ease;
    p{
        position: absolute;
        transition: all 0.5s ease;
    }
    p:nth-child(2){
        top: 30%;
        background-color: white;
        color: black;
    }
    p:nth-child(3){
        top: 41%;
    }
    p:nth-child(4){
        top: 55%;
    }
    img{
        transform: scale(1.1);
        transition: all 0.4s ease;
        position: relative;
        opacity: 0;
    }
}
.courseCard > img{
    height: 200px;
    width: 270px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all 0.5s ease;
}
.courseCard > p{
    margin-left: 15px;
    transition: all 0.5s ease;
}
.courseCard > p:nth-child(2){
    background-color: #1C3A3F;
    border-radius: 4px;
    height: 25px;
    text-align: center;
    align-content: center;
    width: 100px;
    margin-top: 10px;
    font-size: 18px;
    color: #008730;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.courseCard > p:nth-child(3){
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 15px;
}
.courseCard > p:nth-child(4){
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 0.8);
}
.courseCard i{
    margin-top: 10px;
    transition: all 0.8s ease;
}
.browse{
    height: 100px;
    width: 70svw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.browseMore{
    position: absolute;
    width: 250px;
    height: 70px;
    background-color: #008730;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
    overflow: hidden;
}
.browseMore > p{
    position: absolute;
    z-index: 5;
}
.browseMore::before{
    content: "";
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 0%;
    height: 100%;
    background-color: #24B78E;
}
.browseMore:hover{
    cursor: pointer;
    z-index: 3;
}
.browseMore:hover::before{
    z-index: -1;
    left: 0%;
    width: 100%;
}
.courseCard:nth-child(5),.courseCard:nth-child(6),.courseCard:nth-child(7),.courseCard:nth-child(8){
    opacity: 0;
}







/* Key Frames */
@keyframes move{
    20%, 100% {
        bottom: 5%;
    }
    0% {
        bottom: 3%;
    }
    10% {
        bottom: 0%;
    }
}
@keyframes move2{
    20%, 100% {
        bottom: 10%;
    }
    0% {
        bottom: 6%;
    }
    10% {
        bottom: 0%;
    }
}



/* Media Queries */

@media only screen and (max-width:1450px){
    .tdown{
        gap: 100px;
    }
}
@media only screen and (max-width:1350px){
    .third{
        overflow-y: hidden;
        height: 450svh;
    }
    .tdown{
        gap: 0px;
        row-gap: 0px;
        height: 350svh;
    }
}
@media only screen and (max-width:1300px){
    .third{
        overflow-y: hidden;
        height: 350svh;
    }
    .tdown{
        gap: 0px;
        row-gap: 0px;
        height: 350svh;
    }
}
@media only screen and (max-width:1278px){
    .tcenter{
        height: 180svh;
    }
    .tcenter > p{
        height: 150px;
    }
    .sign{
        height: 150px;
    }
    .logoblock{
        height: 170svh;
    }
    .third{
        height: 400svh;
    }
    .tdown{
        height: 350svh;
    }
}
@media only screen and (max-width:1151.5px){
    #first{
        height: 210svh;
    }
    .leftLogo{
        width: 300px;
    }
    .threebars{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 1%;
        font-size: 30px;
    }
    .threebars > i{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
    }
    .threebars:hover{
        color: yellow;
        cursor: pointer;
    }
    .loginButton{
        position: absolute;
        right: 10%;
    }
    .rightNav{
        display: none;
    }
    .card{
        position: absolute;
        top: 155%;
        left: 10%;
    }
    .second{
        height: 40svh;
        column-gap: 200px;
    }
    .second > div{
        height: 35%;
    }
}

/* @media only screen and (max-width:1151px){

} */

@media only screen and (max-width:845px){
    .third{
        height: 500svh;
    }
    .tcenter{
        height: 500svh;
    }
    .logoblock{
        height: 370svh;
    }
    .tdown{
        height: 670svh;
    }
}
@media only screen and (max-width:768px){
    .tdleft{
        height: 500px;
    }
    .tcenter{
        height: 200svh;
    }
    .logoblock{
        height: 190svh;
    }
    .img1{
        height: 400px;
        width: 400px;
    }
    .img2{
        margin-top: 0px;
        height: 400px;
        width: 500px;
    }
    .second{
        height: 80svh;
        column-gap: 10px;
        row-gap: 0px;
    }
    .second > div{
        height: 30%;
    }
    .third{
        height: 450svh;
    }
    .tdown{
        height: 200svh;
        row-gap: 0px;
    }
    .tdleft img{
        width: 300px;
        height: 350px;
    }
    .tdtcard1{
        position: absolute;
        top: 9%;
        right: 10%;
        height: 100px;
        width: 150px;
    }
    .tdtcard1 > video{
        margin-top: 10px;
        margin-left: 7px;
        height: 50px;
        width: 100px;
    }
    .bar1{
        height: 5px;
        width: 100px;
    }
    .bar2{
        height: 5px;
        width: 40px;
    }
    .tdtcard2{
        height: 80px;
        width: 180px;
        bottom: 8%;
        right: 20%;
        overflow-y: hidden;
        animation-name: move2;
        animation-timing-function: linear;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    .tdtcardleft,.tdtcardright{
        height: 80px;
    }
    .tdtcardleft{
        width: 50px;
    }
    .tdtcardright{
        width: 130px;
        height: 1000px;
    }
    .tdtcir{
        height: 40px;
        width: 40px;
        font-size: 20px;
    }
    .tdtcardright > p{
        font-size: 14px;
    }
    .tdtcardright > p > span{
        font-size: 30px;
    }
    .tdright{
        justify-content: center;
        align-items: center;
    }
    .tdright > p:first-child{
        font-size: 10px;
    }
    .tdright > img{
        height: 50px;
        width: 150px;
    }
    .tdright > p:nth-child(2) , .tdright > p:nth-child(3){
        text-align: center;
        align-content: center;
        font-size: 30px;
        line-height: 3rem;
    }
    .tdright > p:nth-child(5){
        text-align: center;
        align-content: center;
        font-size: 15px;
        line-height: 2rem;
    }
    .tdright p i{
        text-align: center;
        align-content: flex-start;
        font-size: 18px;
    }
    .tdright > p:nth-child(6),.tdright > p:nth-child(7),.tdright > p:nth-child(8){
        font-size: 15px;
    }
}
@media only screen and (max-width:670px){
    .fourth > p:nth-child(2){
        text-align: center;
        align-content: center;
        height: 200px;
    }
}
@media only screen and (max-width:569.5px){
    .second{
        height: 120svh;
    }
    .second > div{
        height: 15%;
    }
}

@media only screen and (max-width: 520px){
    .leftLogo{
        width: 40svw;
    }
    .logo{
        width: 120px;
        height: 40px;
    }
    .loginButton{
        width: 80px;
        height: 40px;
        font-size: 15px;
    }
    .threebars{
        font-size: 15px;
    }
    #first{
        height: 150svh;
    }
    .toggle{
        height: 135px;
        width: 65px;
    }
    .lb {
        height: 80px;
        width: 40px;
    }
    .one{
        top: 60%;
        font-size: 13px;
    }
    .two{
        left: -2%;
    }
    .lb::before {
        height: 40px;
        width: 40px;
        left: -10%;
        top: -15%;
        border-radius: 50%;
        background-color: white;
        transition: left 1s ease;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #moon{
        font-size: 20px;
        top: 20%;
        left: 37%;
    }
    #sun{
        font-size: 17px;
        top: 67%;
        left: 37%;
    }
    .lb::after{
        width: 30px;
        height: 30px;
        top: -10%;
        left: 6%;
    }
    .card{
        width: 250px;
        height: 80px;
        top: 83%;
    }
    .cb{
        gap: 20px;
    }
    .ct > p{
        margin-left: 15px;
        font-size: 15px;
        font-weight: 700;
    }
    .cb > img{
        height: 30px;
        width: 80px;
    }
    .cb > p{
        font-size: 10px;
    }
    span{
        font-size: 20px;
    }
    .img1{
        height: 300px;
        width: 300px;
    }
    .img2{
        height: 250px;
        width: 310px;
    }   
}

@media only screen and (max-width:450px){
    .tdtcard1{
        top: 12%;
        right: 3%;
        height: 80px;
        width: 120px;
    }
    .tdtcard1 > iframe{
        width: 80px;
    }
    .tdtcard2{
        height: 70px;
        width: 150px;
        right:3%;
    }
}